.getPlayerButton {
  margin-left: 1.5rem;
}

.playerInfo {
  text-align: left;
  margin: 2rem 0 0 4rem;
  padding-bottom: 2rem;
}

.playerName {
  color: white;
}

.playerName:visited {
  color: white;
}